
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: blue;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

}
nav {
    color: aqua;
    background-color: brown;
}
#main_menu li{
  display: inline-block;
  background-color: red;
  border:5px solid;
  list-style: none;
  padding: 3px;
  border-radius: 5px 5px;  
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.footer {
    background-color: brown;
}