
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: blue;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;

}
nav {
    color: aqua;
    background-color: brown;
}